<nz-layout class="layout">
  <nz-header style="position: fixed; width: 100%; top: 0; z-index: 1; text-align: center;">
    <div class="logo"></div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
      <li nz-menu-item>
        <a [routerLink]="[ '/head1']">head1</a>
      </li>
      <li nz-menu-item>
        <a [routerLink]="[ '/head2']">head2</a>
      </li>
    </ul>
  </nz-header>
  <nz-content>
    <nz-layout style="padding:24px 0; height: 100vh; box-sizing: border-box;padding: 64px 0 64px 0; background: #fff">
      <nz-sider [nzWidth]="200" style="background:#fff; overflow: auto;">
        <ul nz-menu [nzMode]="'inline'" style="height:100%">
          <li nz-submenu>
            <span title>
              <i nz-icon type="user"></i>
              <a>用户管理</a>
            </span>
            <ul>
              <li nz-submenu>
                <span title>
                  <a>用户列表</a>
                </span>
                <ul>
                  <li nz-menu-item>
                    <a [routerLink]="[ '/user/userlist/list1']">用户列表一</a>
                  </li>
                  <li nz-menu-item>
                      <a [routerLink]="[ '/user/userlist/list2']">用户列表二</a>
                  </li>
                  <li nz-menu-item>
                      <a [routerLink]="[ '/user/userlist/list3']">用户列表三</a>
                  </li>
                </ul>
              </li>
              <li nz-menu-item>
                <a [routerLink]="[ '/user/yhqx']">用户权限</a>
              </li>
              <li nz-menu-item>
                <a [routerLink]="[ '/user/grxx']">个人信息</a>
              </li>
            </ul>
          </li>
          <li nz-submenu>
            <span title>
              <i nz-icon type="laptop"></i>
              <a>产品管理</a>
            </span>
            <ul>
                <li nz-submenu>
                  <span title>产品列表</span>
                <ul>
                  <li nz-menu-item>
                    <a [routerLink]="[ '/product/plist/list1' ]">产品表一</a>
                  </li>
                  <li nz-menu-item>
                    <a [routerLink]="[ '/product/plist/list2' ]">产品表二</a>
                  </li>
                </ul>
              </li>
              <li nz-menu-item>
                <a [routerLink]="[ '/product/pcate']">产品分类</a>
              </li>
              <li nz-menu-item>
                <a [routerLink]="[ '/product/addproduct']">添加产品</a>
              </li>
            </ul>
          </li>
          <li nz-submenu>
            <span title>
              <i nz-icon type="notification"></i>
              <a [routerLink]="[ '/news' ]">新闻中心</a>
            </span>
            <ul>
              <li nz-menu-item>
                <a [routerLink]="[ '/news/newslist' ]">新闻列表</a>
              </li>
              <li nz-menu-item>
                <a [routerLink]="[ '/news/newscate' ]">新闻分类</a>
              </li>
              <li nz-menu-item>
                <a [routerLink]="[ '/news/addnews' ]">新增新闻</a>
              </li>
            </ul>
          </li>
        </ul>
      </nz-sider>
      <nz-content style="padding: 0 24px; min-height: 280px;">
        <nz-breadcrumb style="margin:16px 0;">
          <nz-breadcrumb-item>Home</nz-breadcrumb-item>
          <nz-breadcrumb-item>List</nz-breadcrumb-item>
          <nz-breadcrumb-item>App</nz-breadcrumb-item>
        </nz-breadcrumb>
        
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
    <nz-footer style="position: fixed; width: 100%; bottom: 0; text-align: center;">Ant Design ©2019 Implement By Angular</nz-footer>
  </nz-content>
</nz-layout>